<table>
  <thead>
    <tr>
      <td>
        域名/IP地址
      </td>
      <td>
        端口
      </td>
      <td>
        用户名
      </td>
      <td>
        操作系统
      </td>
    </tr>
  </thead>
  <tbody>
    {% for remote in remote_list %}
    <tr data-hostname='{{ remote.address }}' data-port='{{ remote.port }}' data-username='{{ remote.username }}' data-password='{{ remote.password }}'>
      <td>
        {{ remote.address }}
      </td>
      <td>
        {{ remote.port }}
      </td>
      <td>
        {{ remote.username }}
      </td>
      <td class='J_async' data-view='/get_os'>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script src='http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js'></script>
<script>
$('.J_async').each(function(){
  var that = $(this);
  var url = that.data('view');
  var tr = that.parent('tr');
  var data = {
    'hostname': tr.data('hostname'),
    'port': tr.data('port'),
    'username': tr.data('username'),
    'password': tr.data('password')
  }
  $.get(url, data).then(function(res){
    if(res.success){
      that.html(res.data);
    }
  });
});
</script>
